
.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.main-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: 17pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.h1{
    font-size: 20pt;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
}

button {
    margin-top: 10px;

padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}